/* Various Element Margin Top and Bottom */
.markdown-rendered div:has(p, pre, hr, ul, ol, iframe) + div > :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 1em;
	margin-bottom: -1em;
}

.markdown-rendered div:has(h1, h2, h3, h4, h5, h6) + div > :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 1.6em;
	margin-bottom: -1em;
}

.markdown-rendered div:has(h1, h2, h3, h4, h5, h6) + div > :is(pre) {
	margin-top: 2.4em;
}

/* .markdown-rendered div:has(pre, p) + div:has(h1, h2, h3, h4, h5, h6) + div > :is(table, div.block-language-dataview) {
	margin-top: 3em;
} */

/* Center Images */
.markdown-source-view img:not(.emoji),
.markdown-rendered img:not(.emoji) {
	display: block;
	margin-inline: auto;
	border-radius: 6px;
}
