.hash {
	display: inline-block;
	border-radius: 16px;
	padding-inline: 0.4rem;
	margin-block: 0.4rem;
	background-color: var(--md-primary-fg-color--light);
	color: var(--md-default-fg-color);
	font-weight: 400;
}

.hash::before {
	content: "#";
}
