@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

// Sidebar Styles

@media all and not ($mobile) {
  .page>#quartz-body .left.sidebar {
    padding-right: 1rem;
    border-right: 1px solid var(--lightgray);
  }
}

@media all and ($desktop) {
  .page>#quartz-body .right.sidebar {
    padding-left: 1rem;
    border-left: 1px solid var(--lightgray);
  }
}

// Sidebar Components

.search {
  >.search-button {
    background-color: transparent;
    width: auto;
    height: 0;

    & svg {
      margin: 0.2rem 0 0;
    }
  }
}

.readermode {
  & svg {
    fill: var(--darkgray);
  }
}

@media all and ($desktop) {
  .right.sidebar {
    .toc {
      max-height: 40vh;
      overflow-y: hidden;
    }
  }
}

// Backlink Spacing

.backlinks>ul.overflow {
  height: unset;
}

// Header Styles

@media all and ($mobile) {
  .popover-hint {
    > :is(h1, div) {
      text-align: center;
    }

    >ul.tags {
      justify-content: center;
    }
  }
}

// Footer Styles

.footer-text .line-group {
  display: inline;
}

@media all and ($mobile) {
  footer {
    text-align: center;

    ul {
      justify-content: center;
    }
  }

  .footer-text .line-group {
    display: block;
  }
}

// Custom Line Separator

article hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 2em auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

hr {
  margin: 4em auto;
}

// Table Styles

table {
  & tr:hover td {
    background-color: var(--highlight);
  }
}

table {
  tr {
    td {
      border-left: 1px solid var(--lightgray);
      border-bottom: 1px solid var(--lightgray);

      &:last-of-type {
        border-right: 1px solid var(--lightgray);
      }
    }
  }
}

// Heading Link Highlight

article {
  > :is(h1, h2, h3, h4, h5, h6) {
    >a {
      &.internal {
        background-color: var(--highlight);
        color: var(--secondary);

        &:hover {
          color: var(--tertiary);
        }
      }
    }
  }
}

// External Link Styles

article {
  a {
    &.external {
      text-decoration: underline;

      .external-icon {
        height: 0;
      }
    }
  }
}

a {
  font-weight: 400;
}

// Tag Link Styles

a.internal.tag-link::before {
  content: "";
}

a.internal.tag-link {
  border-radius: 20px;
  padding: .25rem .8rem;
}

// Heading Sizes

.article-title {
  font-size: 1.8rem;
  font-weight: 700;
}

article {
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.42rem;
  }

  h4 {
    font-size: 1.26rem;
  }

  h5,
  h6 {
    font-size: 1.12rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    padding-top: 1rem;
  }

  :is(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6) {
    padding-top: 0;
  }
}

// Popover Element Show Delay

a:hover .popover,
.popover:hover {
  animation-delay: 0.4s;
}

// Image Styles

article img {
  display: block;
  margin-inline: auto;
}
